
body {
	margin: 0;
	background: #444;
	font-family: Arial;
}
header {
	background: #333;
	color: green;
	padding: 15px 15px 0px 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0px 0px 0px 15px;
	display: inline;
}

nav ul li {
	background: #444;
	color: #black;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

nav ul li a {
	color: white;
}

h3 {
	color: green;
}
.row:after { 
	clear: both; content: " "; 
	display: table;
}

.col {
	color: white;
	background: #333;
	border-radius: 5px;
	box-shadow: 0px 0px 4px black;
	float: left;
	padding: .5%;
	margin: .5%;
	width: 31%;
}